<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
    <listeners>
        <listener class-name="com.bridgelabz.extentreport.ExtentReportListener"></listener>
    </listeners>

    <test name="Facebook Page Object Model Test Suite">
        <classes>
            <class name="com.bridgelabz.page.HomePageTest"/>
            <class name="com.bridgelabz.page.LoginPageTest"/>
            <class name="com.bridgelabz.page.RegistrationPage"/>
            <class name="com.bridgelabz.page.ProfilePage"/>
            <class name="com.bridgelabz.page.EditProfilePage"></class>
        </classes>
    </test>
</suite>
